html {
  cursor: url(../img/nat996.png) 30 30, pointer;
  font-family: "roca", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  cursor: url(../img/nat996.png) 30 30, pointer;
  text-decoration: none;
}
body {
  background-image: url("../img/achtergrondfoto.png");
  background-size: 1437px;
  font-size: 16px;
  color: #ff78d2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow-x: hidden; /* Voorkom horizontaal scrollen */
  overflow-y: hidden; /* Sta verticaal scrollen toe als dat nodig is */
}
#nav {
  border-width: 2px;
  border-style: solid;
  width: 163px;
  position: absolute;
  padding: 2px;
  left: 20px;
  text-align: center;
  top: 17px;
  line-height: 15px;
  z-index: 1;
  border-radius: 9px;
}
.button-2 {
  border-radius: 15px;
  background-image: url(../img/che_g03.gif);
  color: #ff78d2;
  font-weight: 700;
  transform: scale(0.7);
  font-size: 21px;
  width: 210px;
  margin-left: -22px;
  height: 40px;
  margin-bottom: -3px;
  margin-top: 5px;
}
.book {
  width: 600px; /* Breedte van het boek */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: scale(4.5);
}

.page {
  padding: 20px;
  text-align: center;
}

.images {
  display: flex;
  justify-content: center;
  gap: 10px; /* Ruimte tussen de afbeeldingen */
}

.images img {
  width: 100px; /* Breedte van de afbeeldingen */
  height: auto;
  margin-top: 7px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
  transform: scale(0.5);
  margin-top: -5px;
  border: solid 1px;
  border-radius: 15px;
  background-image: url(../img/che_g03.gif);
  color: #ff78d2;
  font-weight: 700;
  padding-top: 3px;
  margin-bottom: 5px;
}
#menuToggle {
  display: none;
}
/* Als het scherm kleiner is dan 430px */
@media only screen and (max-width: 430px) {
  #nav {
    width: auto;
    height: auto;
    padding: 10px;
    top: 5px;
    background-color: white;
  }

  /* Verberg de nav links standaard en toon het wanneer het menu is ingeschakeld */
  #nav .nav-links {
    display: none;
  }

  /* Toon de hamburger menu knop op kleinere schermen */
  .menu-toggle {
    display: block;
    margin: 0 auto;
  }

  /* Als het menu is geopend, toon de nav links */
  #nav.open .nav-links {
    display: block;
  }

  /* Maak de knoppen groter voor mobiele weergave */
  #nav button {
    width: 100%;
    font-size: 18px;
    color: #ff78d2;
  }
  .book {
    border-radius: 10px;
    overflow: hidden;
    transform: scale(1.5);
    margin-top: 5%;
    width: 100%;
    box-shadow: none;
    border: none;
  }
  .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -12px;
    gap: 0px;
  }
  .images img {
    width: 51%;
    height: auto;
    border-radius: 5px;
  }
}
